body {
    /*width: 45%;*/
}

header, main {
    max-width: 750px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    align-items: center;
}

button {
    background: none;
}

.current-place-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-place-main-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.current-place-main-info > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.current-place-weather-icon {
    width: 100px;
    height: 100px;
}

.current-place-temperature {
    font-weight: bold;
    font-size: 400%;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

tr {
    background: #a7afb1;
}

th {
    text-align: start;
}

td {
    text-align: end;
}

th, td {
    padding: 8px;
    color: white;
}

.favorites-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}

.favorites-header {
    /*font-size: 200%;*/
}

.favorites-header-control-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorites-header,
.favorites-header-control-container {
    margin-top: 10px;
}

input {
    background: #f8f8f8;
    padding: 10px;
    font-size: 120%;
    resize: none;
    margin-right: 10px;
    width: 200%;
}

.favorites-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.place-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 40px;
}

.current-place-main-info, /*.current-place-table,*/
.place-container,
.favorites-header,
.favorites-header-control-container {
    width: 350px;
}

.current-place-table {
    width: 100%;
    max-width: 350px;
}

.place-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.place-main-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.place-name {
    font-size: 150%;
}

.place-temperature {
    font-weight: bolder;
    font-size: 200%;
}

.place-weather-icon {
    width: 40px;
    height: 40px;
}

.add-button, .remove-button {
    width: 30px;
    height: 30px;
}

@media (min-width: 750px) {
    .refresh-button::after {
        content: "Обновить геолокацию";
        font-size: 18px;
        padding: 5px 10px 5px;
        background: #c9d1d7;
        border-radius: 4px;
    }
}

@media (max-width: 750px) {
    body {
        max-width: 350px;
    }

    .head {
        grid-template-columns: 2fr 1fr;
    }

    .refresh-button {
        background-color: #c9d1d7;
        padding: 0 10px 0;
        border-radius: 4px;
    }

    .refresh-button::after {
        content: "";
        display: inline-block;
        background-image: url("../images/buttons/refresh-button.png");
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
}